<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>Verify Expenses(STD)</title>
    <head>
<!--        <div class="container">-->
<!--          <div class="row">-->
<!--            <div class="col-m-4" id="sticky-sidebar">-->
<!--              Sidebar-->
<!--            </div>-->
<!--            <div class="col-m-8" id="main">-->
<!--              Main Area-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
        <style>
            #container {
<!--                background: yellow;-->
                height:250px;
            }
            #item {
                border: 1px solid #cccccc;
                width:50%;
                margin : 0 auto;
            }
            /* 사이드바 */
            .sidenav {
              background-color: #f1f1f1;
              width: 250px;
              height: 100%;
              position: fixed;
<!--              z-index:1;-->
<!--              margin-left: -20px;-->
<!--              margin-top:50px-->
              float: right;
              top:0;
              left:0;
              bottom:0;
              padding-top:20px;
              cursor:default;
              overflow-x:hidden;
              overflow-y:auto;
            }
            table {
<!--                position: fixed;-->
                margin-left: 250px;
            }
            /* 본문 */
            .page {
             margin-top:50px;
             margin-left: 250px;
            }
            footer {
              background-color: #555;
              color: white;
              height: 50px;
              margin-top: 50px;
            }
        </style>
<!--        <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--        <link href="/static/css/bootstrap.css" rel="stylesheet">-->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/mbr-additional.css" rel="stylesheet">
        <!-- Custom styles for this template -->
<!--        <link href="/static/css/starter-template.css" rel="stylesheet">-->


    </head>
    <body>
      	<!-- 사이드바 -->
        <div class="sidenav">
<!--        <nav class="col-md-2 sidenav">    -->
<!--            <ul class="nav nav-pills nav-fixed-left">-->
<!--        <nav class="sidenav">-->
<!--          <h4>John's Blog</h4>-->
<!--          <ul class="nav nav-pills nav-stacked">-->
<!--            <li class="active"><a href="#section1">Home</a></li>-->
<!--            <li><a href="#section2">Friends</a></li>-->
<!--            <li><a href="#section3">Family</a></li>-->
<!--            <li><a href="#section3">Photos</a></li>-->
<!--          </ul>-->

	<!-- 사이드바 끝 -->
<!--        <nav class="navbar navbar-inverse navbar-fixed-top">-->
        <p></p>
        <h3><div class="row text-center font-weight-bold" style="width: 100%">사업 계획 예산 검증</div></h3>
        <p></p>
        <div class="row text-left" style="width: 100%; margin-left:5px">
        <form class="form-inline" method="POST" action="{{ url_for('verify_std') }}">
            <div class="form-group">
                <br>
                    <div class="input-group">
                        <span class="input-group-addon">ORG</span>
                        <select name="org_select" class="selectpicker form-control">
    <!--                        <option value="ORG">P14</option>-->
                            {% for o in org_list %}
                            <option value="{{ o[0] }}">{{ o[0] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </br>
                <br>
                    <div class="input-group">
                        <span class="input-group-addon">PERIOD</span>
                        <select name="period_select" class="selectpicker form-control">
    <!--                        <option value="PERIOD">2001</option>-->
                            {% for o in period_list %}
                            <option value="{{ o[0] }}">{{ o[0] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </br>
                <br>
                    <div class="input-group">
                        <span class="input-group-addon">COST TYPE</span>
                        <select name="cost_type_select" class="selectpicker form-control">
    <!--                        <option value="COST_TYPE">BPST</option>-->
                            {% for o in cost_type_list %}
                            <option value="{{ o[0] }}">{{ o[0] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </br>
                <br>
                    <div class="input-group">
                        <span class="input-group-addon">CALENDAR</span>
                        <select name="calendar_select" class="selectpicker form-control">
    <!--                        <option value="COST_TYPE">BPST</option>-->
                            {% for o in calendar_list %}
                            <option value="{{ o[0] }}">{{ o[0] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </br>
            </div>
        </br>
            <br><button type="submit" class="btn btn-default">조회</button></br>
            <br><button type="button" class="btn btn-default" onclick="window.location.href='{{ url_for( 'export_file' , table='Y' ) }}';">Export</button></br>
            <p>
            <div>직접노무(배부)  {{ direct_labor_amt }}</div>
            <div>직접노무(예산)  {{ exp_direct_labor_amt }}</div>
            </p>
            <p>
            <div>기계가동(배부)  {{ direct_machine_amt }}</div>
            <div>기계가동(예산)  {{ exp_direct_machine_amt }}</div>
            </p>
            <p>
            <div>변동소모(배부)  {{ var_consume_amt }}</div>
            <div>변동소모(예산)  {{ exp_var_consume_amt }}</div>
            </p>
            <p>
            <div>고정노무(배부)  {{ fixed_labor_amt }}</div>
            <div>고정노무(예산)  {{ exp_fixed_labor_amt }}</div>
            </p>
            <p>
            <div>생산경비(배부)  {{ mfg_expense_amt }}</div>
            <div>생산경비(예산)  {{ exp_mfg_expense_amt }}</div>
            </p>
            <p>
            <div>복리후생(배부)  {{ emp_benefit_amt }}</div>
            <div>복리후생(예산)  {{ exp_emp_benefit_amt }}</div>
            </p>
            <p>
            <div>감가상각(배부)  {{ depreciation_amt }}</div>
            <div>감가상각(예산)  {{ exp_depreciation_amt }}</div>
            </p>
        </form>
        </div>
<!--            </ul>-->
        </div>
<!--        <div style="overflow:scroll;">-->
        <div style="ovaerflow:scroll; width: 100%; margin-left:250px">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ORG</th>
                <th>Item</th>
                <th>__________________Description_________________</th>
                <th>_GL Class_</th>
                <th>계획수량</th>
                <th>표준원가</th>
                <th>원재료비</th>
                <th>포장재비</th>
                <th>직접노무</th>
                <th>기계가동</th>
                <th>변동소모</th>
                <th>고정노무</th>
                <th>생산경비</th>
                <th>복리후생</th>
                <th>감가상각</th>
                <th>직접노무 금액</th>
                <th>기계가동 금액</th>
                <th>변동소모 금액</th>
                <th>고정노무 금액</th>
                <th>생산경비 금액</th>
                <th>복리후생 금액</th>
                <th>감가상각 금액</th>
            </tr>
            </thead>
<!--        </table>-->
<!--        </nav>-->
<!--        <table>-->
        {% for obj in data_list%}
        <tbody>
            <tr>
                <td>{{obj[0]}}</td>
                <td>{{obj[1]}}</td>
                <td>{{obj[2]}}</td>
                <td>{{obj[3]}}</td>
                <td>{{obj[5]}}</td>
                <td>{{obj[6]}}</td>
                <td>{{obj[7]}}</td>
                <td>{{obj[8]}}</td>
                <td>{{obj[9]}}</td>
                <td>{{obj[10]}}</td>
                <td>{{obj[11]}}</td>
                <td>{{obj[12]}}</td>
                <td>{{obj[13]}}</td>
                <td>{{obj[14]}}</td>
                <td>{{obj[15]}}</td>
                <td>{{obj[16]}}</td>
                <td>{{obj[17]}}</td>
                <td>{{obj[18]}}</td>
                <td>{{obj[19]}}</td>
                <td>{{obj[20]}}</td>
                <td>{{obj[21]}}</td>
                <td>{{obj[22]}}</td>
            </tr>
        </tbody>
        {% endfor %}
        </table>
        </div>
<!--        <footer class="container-fluid navbar-fixed-bottom">-->
<!--            <p>Footer Text</p>-->
<!--        </footer>-->

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
    </body>
</html>